<nav class="main-nav">
	{{ if not .IsHome }}
		<a href='{{ .Site.BaseURL }}'> <span class="arrow">←</span>{{ .Site.Params.home | default "Home" }}</a>
	{{ end }}

	{{ range .Site.Menus.main }}
 		<a href='{{ .URL }}'>{{ .Name }}</a>
  {{ end }}

  {{ if eq .Site.Params.iconFont "font-awesome" }}

    {{ range $key, $val := .Site.Social }}
      <a class="symbol" href="{{ $val }}">
        <i class="fa fa-{{ $key }}"></i>
      </a>
    {{ end }}

	  {{ if .Site.Params.enableRSS }}
		  <a class="symbol" href="{{ .Site.RSSLink }}">
        <i class="fa fa-rss"></i>
      </a>
    {{ end }}

  {{ end }}
</nav>
